<%- include("../partials/header"); -%>
<%- include("../partials/bg"); -%>
<%- include("../partials/footer"); -%>
<div id="admin-workspace">
    <h3>Welcome back to the workspace!</h3>
    <div class="flex-admin">
        <% adminCardData.forEach((item)=>{ %>
            <div class="admin-cards" id="<%= item.title %>">
                <h5><%= item.title %></h5>
                <p><%= item.desc %></p>
            </div>
        <%})%>
    </div>
</div>
<div class="Add-Admin">
    <form id="admin-form" action="/adminChange" method="post">
        <div id="user-mail-container">
            <% users.forEach((user)=>{ %>
                <label class="usermail-label"><input name="emails-list" class="usermails" type="checkbox" value="<%= user.email %>"><%= user.email %></label>
            <%})%>
        </div>
        <div id="btn-admin-cont">
            <button type="submit" name="admin-submit-btn" value="add" class="admin-submit">Add Admin</button>
            <button type="submit" name="admin-submit-btn" value="remove" class="admin-submit">Remove Admin</button>
        </div>
    </form>
</div>
<div class="Top-Donors">
    <form action="/getOrgData" method="post">
        <div id="user-org-container">
            <% users.forEach((user)=>{ %>
                <label class="userorg-label"><input name="org-list" class="userorgs" type="radio" value="<%= user.orgname %>"><%= user.orgname %></label>
            <%})%>
        </div>
        <button type="submit" id="don-submit">Get Data</button>
    </form>
</div>
<div class="Review-Overview">
   <% feedbacks.forEach((feedback=>{ %>
        <div class="feedback-card">
            <h5>&#10077;<%= feedback.feedback %>&#10078;</h5>
            <div style="text-align: left;">
                <p>Email - <%= feedback.email %></p>
                <p>Name - <%= feedback.username %></p>
            </div>
        </div>
   <%}))%>
</div>
<script>
    const admincard = document.getElementById("Add-Admin");
    const statcard = document.getElementById("Top-Donors");
    const feedbackcard = document.getElementById("Review-Overview");
    const workspace = document.getElementById("admin-workspace");
    const admintool = document.getElementsByClassName("Add-Admin")[0];
    const donortool = document.getElementsByClassName("Top-Donors")[0];
    const feedbacktool = document.getElementsByClassName("Review-Overview")[0];
    admincard.addEventListener("click",()=>{
        workspace.style.display = "none";
        admintool.style.display = "flex";
        donortool.style.display = "none";
        feedbacktool.style.display = "none";
    });
    statcard.addEventListener("click",()=>{
        workspace.style.display = "none";
        admintool.style.display = "none";
        donortool.style.display = "flex";
        feedbacktool.style.display = "none";
    });
    feedbackcard.addEventListener("click",()=>{
        workspace.style.display = "none";
        admintool.style.display = "none";
        donortool.style.display = "none";
        feedbacktool.style.display = "flex";
    })
</script>