<%- include("../partials/header"); -%>
<%- include("../partials/bg"); -%>
<%- include("../components/devmsg"); -%>
<div id="Body">
    <h1 id="Titletxt"><%= titleTxt %></h1>
    <p id="descTxt"><%= descTxt %></p>
    <p id="emphasis"><%= emphasis %>!</p>
</div>
<img id="poverty-img" src=<%= imgsrc %> alt = "poverty-img">
<%- include("../components/statbox"); -%>
<%- include("../components/feedback"); -%>
<%- include("../partials/footer"); -%>