<%- include("../partials/header"); -%>
<%- include("../components/feedback"); -%>
<%- include("../components/devmsg"); -%>
<div id="predictionbots">
    <div id="biogasbot">
        <% if(!predictionDone){ %>
            <img alt="biogaspic" id="biogasbotpic" src="/biogas.svg">
            <div id="displaybiogasbot">
                <h4>BioGas Predictor</h4>
                <form id="biogasform" method="post" action="/callbiogasprediction">
                    <input placeholder="Estimated waste(kgs)" type="number" name="biogasqty" min="0" id="biogasqty">
                    <button type="submit" id="predictbtn">Predict</button>
                </form>
            </div>
        <%} else{%>
            <div id="predictionbox">
                <% if(predicteddata == 0){ %>
                    <h5>You need mass to produce energy :)</h5>
                <%}else if(predicteddata <= 0.5 && predicteddata > 0){ %>
                    <img src="/ricksaw.svg" alt="genimg" class="custompredictimg">
                    <h5>That amount of food could produce <%= predicteddata %>m³ of Methane</h5>
                <% }else if(predicteddata > 0.5 && predicteddata <= 1.5){ %>
                    <img style="width: 15dvw;" src="/indian-mother-making-sweets.svg" alt="genimg" class="custompredictimg">
                    <h5>That amount of food could produce <%= predicteddata %>m³ of Methane</h5>
                <%}%>
            </div>
        <%}%>
    </div>
</div>
<%- include("../partials/footer"); -%>
<%- include("../partials/bg"); -%>