<%- include("../partials/header"); -%>
<%- include("../components/feedback"); -%>
<%- include("../components/devmsg"); -%>
<div id="statcont">
    Page under development
</div>
<%- include("../partials/footer"); -%>
<%- include("../partials/bg"); -%>