  <div id="reqfood_body">
    <h2>Available :</h2>
    <div id="available">
      <% data.forEach((item) => { %>
        <div class="availcard">
          <h4>Quality : <%= item.quality %></h4>
          <p>Available(kg) : <%= item.quantity %></p>
          <p>Offered by <%= item.organisation %></p>
          <p>Contact : <%= item.contact %></p>
          <p>
            <span class="expiryTime" data-item-id="<%= item._id %>" data-expiry="<%= item.expiry %>">
              Expires in <%= item.expiry %> hours
            </span>
          </p>
          <div id="<%= item.ftype %>">
            <div class="vnv"></div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>