<%- include("partials/header"); -%>
<div id="Body">
    <h1 id="Titletxt"><%= titleTxt %></h1>
    <p><%= descTxt %></p>
    <p id="emphasis"><%= emphasis %>!</p>
</div>
<%- include("components/statbox"); -%>
<%- include("components/feedback"); -%>
<%- include("partials/footer"); -%>