<%- include("../mobile_partials/header"); -%>
<%- include("../components/devmsg"); -%>
<div id="IndexFlex">
    <div id="Body">
        <h1 id="Titletxt"><%= titleTxt %></h1>
        <p id="descTxt"><%= descTxt %></p>
        <p id="emphasis"><%= emphasis %>!</p>
    </div>
    <%- include("../components/statbox"); -%>
    <%- include("../components/feedback"); -%>
</div>
<%- include("../mobile_partials/footer"); -%>