<%- include("../mobile_partials/header"); -%>
<!-- <%- include("../mobile_partials/bg"); -%>
<div id="Body">
    <h1 id="Titletxt"><%= titleTxt %></h1>
    <p id="descTxt"><%= descTxt %></p>
    <p id="emphasis"><%= emphasis %>!</p>
</div>
<img id="poverty-img" src=<%= imgsrc %> alt = "poverty-img">
<%- include("../components/statbox"); -%>
<%- include("../components/feedback"); -%>
<%- include("../mobile_partials/footer"); -%> -->