<%- include("../mobile_partials/header"); -%>
<%- include("../components/feedback"); -%>
<%- include("../components/devmsg"); -%>
<% if(!loginState){%>
    <%- include("../components/login"); -%>
<%}else{%>
    <div id="predictionbots">
        <div id="biogasbot">
            <% if(!predictionDone){ %>
                <dotlottie-player src="https://lottie.host/f69d192d-2975-4f88-88bc-1de3f9f633e6/Myfg9xORXf.json" background="transparent" speed="0.75" style="width: 150px; height: 150px;" loop autoplay></dotlottie-player>
                <div id="displaybiogasbot">
                    <h4>BioGas Predictor</h4>
                    <form id="biogasform" method="post" action="/callbiogasprediction">
                        <input placeholder="Estimated waste(kgs)" type="number" name="biogasqty" min="0" id="biogasqty">
                        <button type="submit" id="predictbtn">Predict</button>
                    </form>
                </div>
            <%} else{%>
                <div id="predictionbox">
                    <% if(predicteddata == 0){ %>
                        <img src="/einstein-formula.svg" alt="genimg" class="custompredictimg">
                        <h5>You need mass to produce energy :)</h5>
                    <%}else if(predicteddata <= 0.5 && predicteddata > 0){ %>
                        <img src="/ricksaw.svg" alt="genimg" class="custompredictimg">
                        <h5><%= biomass %>Kg of food could produce <%= predicteddata %>m³ of Methane</h5>
                    <% }else{%>
                        <img style="width: 15dvw;" src="/indian-mother-making-sweets.svg" alt="genimg" class="custompredictimg">
                        <h5><%= biomass %>Kg of food could produce <%= predicteddata %>m³ of Methane</h5>
                    <%}%>
                    <form id="biogasform" method="post" action="/callbiogasprediction">
                        <input placeholder="Estimated waste(kgs)" type="number" name="biogasqty" min="0" id="biogasqty">
                        <button type="submit" id="predictbtn">Predict</button>
                    </form>
                </div>
            <%}%>
        </div>
    </div>
<%}%>
<%- include("../mobile_partials/footer"); -%>